---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
  <p>
    You can also see a map of all the places I've given a talk: 
    <a href="/talkmap.html">Talk Map</a>.
  </p>
{% endif %}

<h2>Conference Presentations</h2>
<hr />

{% assign talks = site.talks | reverse %}
{% assign total = talks | size %}
{% assign counter = total %}

<div style="font-size: 0.9em;">
  {% for post in talks %}
    <div style="margin-bottom: 0.7em;">
      <!-- Number + talk inline -->
      [{{ counter }}] {% include archive-single-talk.html %}
    </div>
    {% assign counter = counter | minus: 1 %}
  {% endfor %}
</div>
