<span>
  <!-- Title -->
  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>,

  {% if post.date %}
    {{ post.date | date: "%B %d, %Y," }}
  {% endif %}

  {% if post.venue %}
    {{ post.venue }},
  {% endif %}

  {% if post.location %}
    {{ post.location }}
  {% endif %}

  <!-- Extra links -->
  {% if post.slides or post.event %}
    <span style="margin-left: 1em;">
      {% if post.slides %}
        <a href="{{ post.slides }}">Slides</a>
      {% endif %}
      {% if post.event %}
        {% if post.slides %}|{% endif %}
        <a href="{{ post.event }}">Event page</a>
      {% endif %}
    </span>
  {% endif %}
</span>
